.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-1u9qabl-MuiContainer-root{
  background: dimgrey;
}

.anime-row {
  border-radius: 2px;
  border: 3px solid grey;
  padding: 10px;
  margin-top: 10px;
}

.content {
  margin: auto;
  width: 70%;
  height: 100vh;
  padding: 10px;
  font-weight: bold;
  background: dimgrey;
  border-radius: 10px;
}

body {
  background: rgb(68, 68, 68);
}

.header-container {
  text-align: center;
  color: #61dafb;
}

.main-container {
  background: rgb(68, 68, 68);
  align-content: center;
}

.tool-container {
  height: 8vh;
  background: dimgrey;
  text-align: left;
  padding: 0.5vh 0.3vh;
  margin-bottom: 20px;
  margin-top: 20px;
}

.add-button {
  background: #599bb3 linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Arial, serif;
  font-weight: bold;
  font-size:20px;
  font-weight:bold;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0 1px 0 #3d768a;
}

.add-button:hover {
  background: #408c99 linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

.logo {
  width: 250px;
  height: 175px;
}

.col-titles {
  font-size: 20px;
}

.save-button {
  margin-top: 19px;
  background: #599bb3 linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  width: 15vh;
  padding: 6px;
}

.save-button-container {
  text-align: right;
}

.close-button {
  margin-top: 19px;
  margin-right: 70vh;
  background: #599bb3 linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  width: 15vh;
  padding: 6px;
}

