/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    margin-bottom: 20px;
    padding: 0.2vh;
    height: 6vh;
    vertical-align: center;
}

/* Links inside the navbar */
.navbar a {
    font-size: 16px;
    color: white;
    padding: 8px 10vh;
    vertical-align: center;
}



.right-nav {
    text-align: right;
}

.left-nav {
    text-align: left;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover {
    background: #599bb3 linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
}

.left-nav-button {
    border-right: 3px solid grey;
}

.right-nav-button {
    border-left: 3px solid grey;
}

.header-name-container {
    font-family: Arial;
    color: cyan;
    margin-right: 100px;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: right;
}
